.blogs {
    grid-area: blg;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    grid-gap: 20px;
    flex-wrap: wrap;
}

a {
    text-align: end;
}

i {
    text-decoration: underline;
}

button:hover {
    background-color: black;
    color: white;
}

p {
    font-style: italic;
    text-indent: 5px;
}

.card-one {
    padding: 10px;
    border: 1px solid black;
    width: 420px;
}

.travel {
    height: 300px;
    width: 100%;
}

.card-two {
    padding: 10px;
    border: 1px solid black;
    width: 420px;
}

.health {
    height: 300px;
    width: 100%;   
}

.card-three {
    padding: 10px;
    border: 1px solid black;
    width: 420px;
}

.politics {
    background-size: contain;
    height: 300px;
    width: 100%;     
}

figure {
    margin-inline: 0px;
}

figcaption {
    text-align: right;
    font-style: italic;
    font-size: 12px;
}